html {
  font-size: 34px;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Ubuntu";
}

.wrapper {
  height: 100%;
  overflow-x: hidden;
}

.main-container {
  width: 90%;
  margin: 0 auto;
}

.header {
  z-index: 20;
  width: 100%;
  background-color: #2C2C2C;
}
.header__inner {
  display: flex;
  position: relative;
  width: 100%;
  height: 140px;
  padding-top: 52px;
}
.header__burger {
  display: none;
  width: 60px;
  height: 43px;
  position: relative;
}
.header__burger span {
  width: 100%;
  height: 3px;
  background-color: #e3e3e3;
  position: absolute;
  top: 21px;
  left: 0;
}
.header__burger::before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #e3e3e3;
  position: absolute;
  top: 0;
  left: 0;
}
.header__burger::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #e3e3e3;
  position: absolute;
  bottom: 0;
  left: 0;
}

.header--fixed {
  position: fixed;
}

.header-list-links {
  display: flex;
  justify-content: space-between;
}
.header-list-links__item {
  margin-right: 40px;
  position: relative;
}
.header-list-links__link {
  color: #fff;
  font-size: 0.82rem;
  font-weight: bold;
  padding: 7px 14px;
  border-radius: 5px;
}
.header-list-links__link:hover {
  background-color: #505050;
  transition: 0.5s;
}

.header-list-links--margin-left--47px {
  margin-left: 47px;
}

.logo__img {
  width: 296px;
}

.logo--position--absolute {
  position: absolute;
  right: 80px;
  top: 47px;
}

.phone-btn__wrap {
  position: fixed;
  bottom: 65px;
  right: 121px;
  z-index: 19;
  width: 118px;
  height: 118px;
}

.phone-btn {
  z-index: 20;
  width: 100%;
  height: 100%;
}
.phone-btn__inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
@keyframes phone-btn-1-rotate-1 {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(5deg);
  }
  10% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(5deg);
  }
  20% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.phone-btn__1 {
  position: absolute;
  z-index: 2;
  width: 58px;
  height: 62px;
  margin: 0 auto;
  top: 26px;
  left: 27.5px;
  animation: phone-btn-1-rotate-1 2.5s 0s infinite alternate;
}
@keyframes phone-btn-2-size-change {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.phone-btn__2 {
  z-index: 1;
  align-self: center;
  animation: phone-btn-2-size-change 2.5s 0s infinite alternate ease-in;
  border-radius: 50%;
}

.phone-btn-1-hover {
  animation-play-state: paused;
}

.phone-btn-2-hover {
  animation-play-state: paused;
  border: 3px solid #ffffff;
  transition: 0.2s;
}

.phone-btn-blok__wrap {
  display: none;
}

.phone-btn-blok__wrap._active {
  display: block;
}

.phone-btn-blok {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7490196078);
  z-index: 25;
  position: fixed;
  overflow-y: auto;
}
.phone-btn-blok._transition {
  animation: phone-btn-blok-transition 0.7s 0s;
}
@keyframes phone-btn-blok-transition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.phone-btn-blok._transition-reverse {
  opacity: 0;
  transition: 0.7s;
}

.phone-btn-blok-table__inner {
  width: 420px;
  padding: 40px 20px 10px 20px;
  background-color: rgba(87, 87, 87, 0.8509803922);
  position: relative;
  font-size: 1.05rem;
  color: #fff;
  margin: 260px auto 20px auto;
}
.phone-btn-blok-table__btn-close {
  width: 63px;
  height: 63px;
  background-color: #2C2C2C;
  position: absolute;
  border-radius: 50%;
  right: -25px;
  top: -21px;
}
.phone-btn-blok-table__btn-close:hover {
  background-color: #883939;
  transition: 0.2s;
}
.phone-btn-blok-table__btn-close-line {
  width: 47.66px;
  height: 5px;
  background-color: #fff;
  display: block;
  position: absolute;
  top: 28px;
  left: 8px;
}
.phone-btn-blok-table__btn-close-line-1 {
  rotate: 45deg;
}
.phone-btn-blok-table__btn-close-line-2 {
  rotate: -45deg;
}
.phone-btn-blok-table__btn-close-img {
  width: 63px;
  height: 63px;
}
.phone-btn-blok-table__box {
  margin-bottom: 30px;
}
.phone-btn-blok-table__box-name {
  margin-bottom: 12px;
  text-align: center;
}
.phone-btn-blok-table__box-phone {
  color: #fff;
  background-color: #2C2C2C;
  padding: 12px 40px;
  text-align: center;
  font-family: "Karma";
  letter-spacing: 2px;
  display: block;
  height: 55px;
}
.phone-btn-blok-table__box-phone:hover {
  background-color: #393939;
  border: 2px solid #fff;
  padding: 11px 40px;
  transition: 1s;
}

.about-us__wrap {
  padding-top: 140px;
  position: relative;
}

.about-us {
  color: #fff;
  background-image: url(../img/about-us/about-us.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  padding: 65px 0;
}
.about-us__inner {
  display: flex;
  justify-content: space-between;
}

.about-us-main__wrap {
  width: 57%;
  position: relative;
}

.about-us-main__inner {
  font-weight: bold;
  background-color: rgba(110, 110, 110, 0.8156862745);
  padding: 71px 15px 31px 15px;
}
.about-us-main__title {
  font-size: 1.88rem;
  text-align: center;
  font-weight: bold;
}
.about-us-main__title-span {
  font-family: "Racing Sans One";
}
.about-us-main__list {
  line-height: 1.17rem;
  width: 548px;
  margin: 22px auto 27px auto;
}
.about-us-main__list-item {
  font-size: 0.82rem;
  display: flex;
  letter-spacing: 1.4px;
}
.about-us-main__list-item::before {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 5px;
  background-color: #fff;
  margin: 0.5rem 18px 0 0;
}
.about-us-main__list-item-numbers {
  font-size: 0.94rem;
}
.about-us-main__text-box {
  color: #000;
  font-size: 0.82rem;
  background-color: #d9d9d9;
  width: 548px;
  margin: 15px auto;
}
.about-us-main__text-box-text {
  text-align: center;
  padding: 20px;
}

.icons-timeline-wrap {
  display: flex;
  flex-direction: column;
  width: 43%;
}

.about-us-icons__wrap {
  width: 500px;
  margin: 0 auto;
}

.about-us-icons__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about-us-icons__icon {
  margin-left: 40px;
  margin-bottom: 19px;
}
.about-us-icons__icon-img {
  width: 110px;
  height: 90px;
}

.about-us-timeline__wrap {
  margin-top: 60px;
  margin-left: 40px;
}

.about-us-timeline__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}
.about-us-timeline__box {
  width: 454px;
  padding: 10px;
  background-color: #D94B4B;
  margin-bottom: 25px;
  letter-spacing: 3px;
}
.about-us-timeline__title {
  font-weight: bold;
  font-size: 1.05rem;
  text-align: center;
}
.about-us-timeline__text {
  font-weight: bold;
  font-size: 0.94rem;
  text-align: center;
}
.about-us-timeline__numbers {
  font-size: 1rem;
}

.services__wrap {
  width: 100%;
  background-image: url(../img/services/services-beckhround.png);
  background-size: 100%;
}

.services .contaner-services-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services__inner {
  padding: 40px 0 20px 0;
}
.services__title {
  color: #ffffff;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 40px;
  font-weight: bolder;
}

.services-box__wrap {
  width: 48%;
  margin-bottom: 80px;
}

.services-box {
  color: #fff;
}
.services-box__title {
  font-size: 1.17rem;
  text-align: center;
  min-height: 138px;
  padding: 30px 50px 20px 50px;
  overflow: hidden;
  line-height: 1.25rem;
  background-color: #D94B4B;
  border-radius: 30px 30px 0 0;
  display: block;
}
.services-box__list {
  padding: 15px 45px;
  min-height: 317px;
  overflow: hidden;
  border-radius: 0 0 30px 30px;
  background-color: #3a3a3a;
}
.services-box__list-item {
  font-size: 0.7rem;
  line-height: 163%;
  letter-spacing: 0.05rem;
  display: flex;
}
.services-box__list-item::before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
  display: block;
  margin: 0.5rem 18px auto 0;
}

/*----------------------------------------*/
.footer {
  background-color: #2C2C2C;
}
.footer__inner {
  display: flex;
  justify-content: space-around;
  padding: 80px 30px 80px 56px;
  flex-direction: row-reverse;
}

.map__wrap {
  width: 60%;
  margin-left: 40px;
}

.map__inner {
  height: 618px;
}

.contact-information__wrap {
  padding-top: 35px;
}

.contact-information__inner {
  color: #fff;
  width: 470px;
  text-align: center;
}
.contact-information__title {
  font-size: 1.17rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.contact-information__phone-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.contact-information__phone-link-viber {
  margin-right: 5px;
  width: 56px;
  height: 50px;
}
.contact-information__phone-viber-img {
  width: 56px;
  height: 50px;
}
.contact-information__phone-viber-img:hover {
  width: 54px;
  height: 48px;
}
.contact-information__phone-link {
  color: #fff;
  font-size: 1.7rem;
  letter-spacing: 0.0425rem;
  font-family: "Karma";
}
.contact-information__phone-link:hover {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
}
.contact-information__olx-box {
  margin: 45px 0;
}
.contact-information__olx-container {
  display: flex;
  justify-content: center;
  height: 50px;
}
.contact-information__olx-link {
  margin-right: 15px;
  width: 95px;
  height: 50px;
}
.contact-information__olx-img {
  width: 95px;
  height: 50px;
}
.contact-information__olx-img:hover {
  width: 93px;
  height: 46px;
}
.contact-information__olx-link-url {
  color: #fff;
  font-size: 1.17rem;
  letter-spacing: 0.111rem;
  font-family: "Karantina";
  padding-top: 3px;
}
.contact-information__olx-link-url:hover {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
}
.contact-information__address {
  font-size: 0.94rem;
}
.contact-information__address-link {
  color: #fff;
}
.contact-information__address-link:hover {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
}
.contact-information__address-number {
  font-size: 1.05rem;
}