html {
  font-size: 34px;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Ubuntu';
}
.wrapper {
  height: 100%;
  overflow-x: hidden;
}
.main-container {
  width: 90%;
  margin: 0 auto;
}
.header {
  z-index: 20;
  width: 100%;
  background-color: #2C2C2C;
  &__inner {
    display: flex;
    position: relative;
    width: 100%;
    height: 140px;
    padding-top: 52px;
  }
  &__burger {
    display: none;
    width: 60px;
    height: 43px;
    position: relative;
  }
  &__burger span {
    width: 100%;
    height: 3px;
    background-color: #e3e3e3;
    position: absolute;
    top: 21px;
    left: 0;
  }
  &__burger::before {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #e3e3e3;
    position: absolute;
    top: 0;
    left: 0;
  }
  &__burger::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #e3e3e3;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
.header--fixed {
  position: fixed;
  top: 0;
}
.header-list-links {
  display: flex;
  justify-content: space-between;
  &__item {
    margin-right: 40px;
    position: relative;
  }
  &__link {
    color: #fff;
    font-size: 0.82rem;
    font-weight: bold;
    padding: 7px 14px;
    border-radius: 5px;
  }
  &__link:hover {
    background-color: #505050;
    transition: 0.5s;
  }
}
.header-list-links--margin-left--47px {
  margin-left: 47px;
}
.logo {
  &__img {
    width: 296px;
  }
}
.logo--position--absolute {
  position: absolute;
  right: 80px;
  top: 47px;
}

.phone-btn__wrap {
  position: fixed;
  bottom: 65px;
  right: 121px;
  z-index: 19;
  width: 118px;
  height: 118px;
}
.phone-btn {
  z-index: 20;
  width: 100%;
  height: 100%;

  &__inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  @keyframes phone-btn-1-rotate-1 {
    0% {
      transform: rotate(0deg);
    }
    5% {
      transform: rotate(5deg);
    }
    10% {
      transform: rotate(0deg);
    }
    15% {
      transform: rotate(5deg);
    }
    20% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  &__1 {
    position: absolute;
    z-index: 2;
    width: 58px;
    height: 62px;
    margin: 0 auto;
    top: 26px;
    left: 27.5px;
    animation: phone-btn-1-rotate-1 2.5s 0s infinite alternate;
  }
  @keyframes phone-btn-2-size-change {
    0% {
      transform: scale(1);
    }
    20% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  &__2 {
    z-index: 1;
    align-self: center;
    animation: phone-btn-2-size-change 2.5s 0s infinite alternate ease-in;
    border-radius: 50%;
  }
}
.phone-btn-1-hover {
  animation-play-state: paused;
}
.phone-btn-2-hover {
  animation-play-state: paused;
  border: 3px solid #ffffff;
  transition: 0.2s;
}
.phone-btn-blok__wrap {
  display: none;
}
.phone-btn-blok__wrap._active {
  display: block;
}
.phone-btn-blok {
  width: 100%;
  height: 100%;
  background-color: #000000bf;
  z-index: 25;
  position: fixed;
  overflow-y: auto;


  &__inner {
  }
}

.phone-btn-blok._transition {
  @keyframes phone-btn-blok-transition {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  animation: phone-btn-blok-transition 0.7s 0s;
}
.phone-btn-blok._transition-reverse {
  opacity: 0;
  transition: 0.7s;
}
.phone-btn-blok-table__wrap {

}
.phone-btn-blok-table {

  &__inner {
    width: 420px;
    padding: 40px 20px 10px 20px;
    background-color: #575757d9;
    position: relative;
    font-size: 1.05rem;
    color: #fff;
    margin: 260px auto 20px auto;
  }
  &__btn-close {
    width: 63px;
    height: 63px;
    background-color: #2C2C2C;
    position: absolute;
    border-radius: 50%;
    right: -25px;
    top: -21px;
  }
  &__btn-close:hover {
    background-color: #883939;
    transition: 0.2s;
  }
  &__btn-close-line {
    width: 47.66px;
    height: 5px;
    background-color: #fff;
    display: block;
    position: absolute;
    top: 28px;
    left: 8px;
  }
  &__btn-close-line-1 {
    transform: rotate(45deg);
  }
  &__btn-close-line-2 {
    transform: rotate(-45deg);
  }
  &__btn-close-img {
    width: 63px;
    height: 63px;
  }
  &__box {
    margin-bottom: 30px;
  }
  &__box-name {
    margin-bottom: 12px;
    text-align: center;
  }
  &__box-phone {
    color: #fff;
    background-color: #2C2C2C;
    padding: 12px 40px;
    text-align: center;
    font-family: "Karma";
    letter-spacing: 2px;
    display: block;
    height: 55px;
  }
  &__box-phone:hover {

    background-color: #393939;
    border: 2px solid #fff;
    padding: 11px 40px;
    transition: 1s;
  }
}


.about-us__wrap {
  padding-top: 140px;
  position: relative;
}
.about-us {
  color: #fff;
  background-image: url(../img/about-us/about-us.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  padding: 65px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
  }
}
.about-us-main__wrap {
  width: 57%;
  position: relative;
}
.about-us-main {
  &__inner {
    font-weight: bold;
    background-color: #6e6e6ed0;
    padding: 71px 15px 31px 15px;
  }
  &__title {
    font-size: 1.88rem;
    text-align: center;
    font-weight: bold;
  }
  &__title-span {
    font-family: "Racing Sans One";
  }
  &__list {
    line-height: 1.17rem;
    width: 548px;
    margin: 22px auto 27px auto;
  }
  &__list-item {
    font-size: 0.82rem;
    display: flex;
    letter-spacing: 1.4px;
  }
  &__list-item::before {
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 5px;
    background-color: #fff;
    margin: 0.5rem 18px 0 0;
  }
  &__list-item-numbers {
    font-size: 0.94rem;
  }
  &__text-box {
    color: #000;
    font-size: 0.82rem;
    background-color: #d9d9d9;
    width: 548px;
    margin: 15px auto;
  }
  &__text-box-text {
    text-align: center;
    padding: 20px;
  }
}
.icons-timeline-wrap {
  display: flex;
  flex-direction: column;
  width: 43%;
}
.about-us-icons__wrap {
  width: 500px;
  margin: 0 auto;
}
.about-us-icons {
  &__inner {
  }
  &__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__icon {
    margin-left: 40px;
    margin-bottom: 19px;
  }
  &__icon-img {
    width: 110px;
    height: 90px;
  }
}
.about-us-timeline__wrap {
  margin-top: 60px;
  margin-left: 40px;
}
.about-us-timeline {

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
  }
  &__box {
    width: 454px;
    padding: 10px;
    background-color: #D94B4B;
    margin-bottom: 25px;
    letter-spacing: 3px;
  }
  &__title {
    font-weight: bold;
    font-size: 1.05rem;
    text-align: center;
  }
  &__text {
    font-weight: bold;
    font-size: 0.94rem;
    text-align: center;
  }
  &__numbers {
    font-size: 1rem;
  }
}

.services__wrap {
  width: 100%;
  background-image: url(../img/services/services-beckhround.png);
  background-size: 100%;
}
.services {

  .contaner-services-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__inner {
    padding: 40px 0 20px 0;
  }
  &__title {
    color: #ffffff;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 40px;
    font-weight: bolder;
  }
}
.services-box__wrap {
  width: 48%;
  margin-bottom: 110px;
}
.services-box {
  color: #fff;

  &__inner {
    position: relative;
  }
  &__title-box {
    position: relative;
  }
  &__title {
    color: #fff;
    width: 100%;
    font-size: 1.17rem;
    text-align: center;
    height: 138px;
    padding: 30px 100px 20px 50px;
    overflow: hidden;
    line-height: 1.25rem;
    background-color: #D94B4B;
    border-radius: 30px 30px 0 0;
    display: block;
  }
  &__title::before {
    content: '';
    @keyframes swimming-for-before {
      0% {
        transform: translateY(0px) rotate(45deg);
      }
      25% {
        transform: translateY(4px) rotate(45deg);
      }
      60% {
        transform: translateY(0px) rotate(45deg);
      }
      100% {
        transform: translateY(0px) rotate(45deg);
      }
    }
    width: 32px;
    height: 4.20px;
    background-color: #fff;
    position: absolute;
    top: 73px;
    right: 55px;
    animation: swimming-for-before 2s infinite;
    transition: 0.5s;
  }
  &__title._mouse-over::before {
    animation-play-state: paused;
    top: 80px;
    transition: 0.5s;
  }
  &__title::after {
    content: '';
    @keyframes swimming-for-after {
      0% {
        transform: translateY(0px) rotate(-45deg);
      }
      25% {
        transform: translateY(4px) rotate(-45deg);
      }
      60% {
        transform: translateY(0px) rotate(-45deg);
      }
      100% {
        transform: translateY(0px) rotate(-45deg);
      }
    }
    width: 32px;
    height: 4.20px;
    background-color: #fff;
    position: absolute;
    top: 73px;
    right: 35px;
    
    animation: swimming-for-after 2s infinite;
    transform: rotate(-90deg);
    transition: 0.5s;
  }
  &__title._mouse-over::after {
    animation-play-state: paused;
    top: 80px;
    transition: 0.5s;
  }
  &__title-img {
    position: absolute;
    top: 45%;
    right: 38px;
  }
  &__title-img._active {

  }
  &__list {
    padding: 15px 45px ;
    position: absolute;
    top: 138px;
    left: 0;
    right: 0;
    z-index: 2;
    min-height: 74px;
    max-height: 75px;
    overflow: hidden;
    border-radius: 0 0 30px 30px;
    background-color: #3a3a3a;
    transition-duration: 500ms;
  }
  &__list._active {
    z-index: 3;
    transition-duration: 500ms;
    max-height: 500px;
    //min-height: 100px;
  }
  &__list-item {
    font-size: 0.7rem;
    line-height: 163%;
    letter-spacing: 0.05rem;
    display: flex;
  }
  &__list-item::before {
    content: '';
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
    display: block;
    margin: 0.5rem 18px auto 0;
  }
}

.services-box__inner._click-transition .services-box__title::before {
  animation-play-state: paused;
  @keyframes click-transition-before {
    0% {
      transform: rotate(45deg);
    }
    100% {
      transform: rotate(-45deg);
    }
  }
  animation: click-transition-before 0.3s alternate both;
}
.services-box__inner._click-transition .services-box__title::after {
  animation-play-state: paused;
  @keyframes click-transition-after {
    0% {
      transform: rotate(-45deg);
    }
    100% {
      transform: rotate(45deg);
    }
  }
  animation: click-transition-after 0.3s alternate both;
  transition: 0.5s;
}
.services-box__inner._click-transition .services-box__title._mouse-over::before {
  top: 66px;
  transition: 0.5s;
}
.services-box__inner._click-transition .services-box__title._mouse-over::after {
  top: 66px;
  transition: 0.5s;
}
/*----------------------------------------*/
.footer {
  background-color: #2C2C2C;

  &__inner {
    display: flex;
    justify-content: space-around;
    padding: 80px 30px 80px 56px;
    flex-direction: row-reverse;
  }
}

.map__wrap {
  width: 60%;
  margin-left: 40px;
}
.map {

  &__inner {
    height: 618px;
  }
  &__frame {
    width: 100%;
  }
}

.contact-information__wrap {
  padding-top: 35px;
}
.contact-information {

  &__inner {
    color: #fff;
    width: 470px;
    text-align: center;
  }
  &__phones-box {
    
  }
  &__title {
    font-size: 1.17rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  &__phone-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  &__phone-link-viber {
    margin-right: 5px;
    width: 56px;
    height: 50px;
  }
  &__phone-viber-img {
    width: 56px;
    height: 50px;
  }
  &__phone-viber-img:hover {
    width: 54px;
    height: 48px;
  }
  &__phone-link {
    color: #fff;
    font-size: 1.70rem;
    letter-spacing: 0.0425rem;
    font-family: 'Karma';
  }
  &__phone-link:hover {
    text-decoration: underline 2px;
  }
  &__olx-box {
    margin: 45px 0;
  }
  &__olx-container {
    display: flex;
    justify-content: center;
    height: 50px;
  }
  &__olx-link {
    margin-right: 15px;
    width: 95px;
    height: 50px;
  }
  &__olx-img {
    width: 95px;
    height: 50px;
  }
  &__olx-img:hover {
    width: 93px;
    height: 46px;
  }
  &__olx-link-url {
    color: #fff;
    font-size: 1.17rem;
    letter-spacing: 0.111rem;
    font-family: 'Karantina';
    padding-top: 3px;
  }
  &__olx-link-url:hover {
    text-decoration: underline 2px;
  }
  &__address-box {
  }
  &__address {
    font-size: 0.94rem;
  }
  &__address-link {
    color: #fff;
  }
  &__address-link:hover {
    text-decoration: underline 2px;
  }
  &__address-number {
    font-size: 1.05rem;
  }
}
